<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        About
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis vel dignissimos voluptates. Vero
            distinctio, exercitationem qui nulla maiores sit nam suscipit perferendis quia quos voluptate, nostrum, non
            culpa fuga? Voluptatum?

          </ion-card-content>
          <ion-card-content>
            You can find the code of this app on github <a href="https://github.com/defaultq/">here <ion-icon name="logo-github"></ion-icon></a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-content>